workflows/CT3oYmId32Ph5Kdw.json
{
  "id": "CT3oYmId32Ph5Kdw",
  "name": "User Review Ingestion",
  "nodes": [
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        752,
        912
      ],
      "id": "3a670b2b-9e31-4b3d-a11c-fd9d82604190",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://iklddbclgekbxrjiyojv.supabase.co/rest/v1/rpc/upsert_review",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "_payload",
              "value": "={{ $json._payload.json }}"
            },
            {
              "name": "_embedding",
              "value": "={{ $json._embedding }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1872,
        672
      ],
      "id": "f4fb2bf8-9dd9-4933-84cf-ee783f9e64d0",
      "name": "Upsert to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "tsqgnzUSHajXg4tz",
          "name": "Supabase - User Reviews"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bdfbcb30-7fd0-4312-95d8-d090cda537b4",
              "name": "id",
              "value": "={{ $('Prepare Fields').all()[$itemIndex].json.original.review_id }}",
              "type": "string"
            },
            {
              "id": "d6a45635-f567-4675-b93a-b4a423639be5",
              "name": "title",
              "value": "={{ $('Prepare Fields').all()[$itemIndex].json.original.title }}",
              "type": "string"
            },
            {
              "id": "155fbf63-af9f-4e5c-9a91-1b2d047d00f6",
              "name": "content",
              "value": "={{ $('Prepare Fields').all()[$itemIndex].json.original.content }}",
              "type": "string"
            },
            {
              "id": "804661dd-9e7b-4be0-95b3-245a4a02c215",
              "name": "combined",
              "value": "={{ $('Prepare Fields').all()[$itemIndex].json.input }}",
              "type": "string"
            },
            {
              "id": "f504973e-cbec-4c3c-a120-1c322eac4bb4",
              "name": "author_name",
              "value": "={{ $('Prepare Fields').all()[$itemIndex].json.original.author_name }}",
              "type": "string"
            },
            {
              "id": "07df92c2-9d44-4d6e-8e52-3d789c9f77d9",
              "name": "author_uri",
              "value": "={{ $('Prepare Fields').all()[$itemIndex].json.original.author_uri }}",
              "type": "string"
            },
            {
              "id": "0bef80ef-7a55-49c3-a375-6b86ddd1b0ae",
              "name": "rating",
              "value": "={{ $('Prepare Fields').all()[$itemIndex].json.original.rating }}",
              "type": "string"
            },
            {
              "id": "d0f4caee-5528-4691-bb07-47301b1952a0",
              "name": "version",
              "value": "={{ $('Prepare Fields').all()[$itemIndex].json.original.version }}",
              "type": "string"
            },
            {
              "id": "7ace97ae-a8a2-445a-8520-b3f73c33c58d",
              "name": "updated",
              "value": "={{ $('Prepare Fields').all()[$itemIndex].json.original.updated }}",
              "type": "string"
            },
            {
              "id": "e3d8bdae-1259-4091-9706-343164a0430a",
              "name": "review_link",
              "value": "={{ $('Prepare Fields').all()[$itemIndex].json.original.review_link }}",
              "type": "string"
            },
            {
              "id": "625e604a-0def-4b14-a215-9f348ad0ff38",
              "name": "sentiment",
              "value": "={{ $('Prepare Fields').all()[$itemIndex].json.original.output.sentiment }}",
              "type": "string"
            },
            {
              "id": "356f8c26-b441-4fd8-8c99-dbe7ea824375",
              "name": "sentiment_score",
              "value": "={{ $('Prepare Fields').all()[$itemIndex].json.original.output.sentiment_score }}",
              "type": "string"
            },
            {
              "id": "e14ea30f-4bb1-412c-939d-d05308bfed6d",
              "name": "emotional_indicators",
              "value": "={{ $('Prepare Fields').all()[$itemIndex].json.original.output.emotional_indicators }}",
              "type": "array"
            },
            {
              "id": "1a04c643-655d-45d4-9feb-1d7c3f7c456a",
              "name": "loyalty_impact",
              "value": "={{ $('Prepare Fields').all()[$itemIndex].json.original.output.loyalty_impact }}",
              "type": "string"
            },
            {
              "id": "d8302dcd-a54f-46e3-9be9-652d1668ade6",
              "name": "actionability",
              "value": "={{ $('Prepare Fields').all()[$itemIndex].json.original.output.actionability }}",
              "type": "string"
            },
            {
              "id": "bad6c505-58fd-44a7-9722-0cc07517d943",
              "name": "primary_category",
              "value": "={{ $('Prepare Fields').all()[$itemIndex].json.original.output.primary_category }}",
              "type": "string"
            },
            {
              "id": "adea364a-ba06-4382-a770-516aeceb3e8f",
              "name": "issue_type",
              "value": "={{ $('Prepare Fields').all()[$itemIndex].json.original.output.issue_type }}",
              "type": "string"
            },
            {
              "id": "96885542-a6bd-4daa-b701-4d8b0e46d263",
              "name": "user_segment",
              "value": "={{ $('Prepare Fields').all()[$itemIndex].json.original.output.user_segment }}",
              "type": "string"
            },
            {
              "id": "3390322b-8f36-420c-b07e-8023edc3ca5e",
              "name": "contains_comparison",
              "value": "={{ $('Prepare Fields').all()[$itemIndex].json.original.output.contains_comparison }}",
              "type": "boolean"
            },
            {
              "id": "6989b6e2-60ad-4aaa-8b61-b8868f45cd7d",
              "name": "has_workaround",
              "value": "={{ $('Prepare Fields').all()[$itemIndex].json.original.output.has_workaround }}",
              "type": "boolean"
            },
            {
              "id": "0209722a-a6d4-415c-b63b-ad05d81fdc38",
              "name": "temporal_context",
              "value": "={{ $('Prepare Fields').all()[$itemIndex].json.original.output.temporal_context }}",
              "type": "string"
            },
            {
              "id": "75e69c74-40b1-4c43-9f8c-183e7bf01556",
              "name": "specific_features",
              "value": "={{ $('Prepare Fields').all()[$itemIndex].json.original.output.specific_features }}",
              "type": "array"
            },
            {
              "id": "7444ff55-1b94-4c52-ab55-6cd631be8ccb",
              "name": "key_entities",
              "value": "={{ $('Prepare Fields').all()[$itemIndex].json.original.output.key_entities }}",
              "type": "array"
            },
            {
              "id": "bef9c9bf-b5ae-4d8c-903b-12dfe2b575bc",
              "name": "country_code",
              "value": "={{ $('Prepare Fields').all()[$itemIndex].json.original.country_code }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        672
      ],
      "id": "4902ceb0-765f-4347-af02-56d7e74727bc",
      "name": "Prepare Upsert (non-embeddings)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9658048-53b0-4518-80a7-442f3f34b1e2",
              "name": "_payload",
              "value": "={{ $('Prepare Upsert (non-embeddings)').all()[$itemIndex]}}",
              "type": "object"
            },
            {
              "id": "9300eec3-6e6f-4fe5-a465-17e90413ca07",
              "name": "_embedding",
              "value": "={{ $('Create embeddings').all()[$itemIndex].json.data[0].embedding }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        672
      ],
      "id": "5a03b7af-45c7-4422-9d2c-83e96f0a4a06",
      "name": "Prepare Upsert (including embeddings)"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Ask me to analyze reviews (example, analyze themes of users who bring up billing).",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -640,
        1600
      ],
      "id": "9ca122c7-463a-42ee-912d-743920e23f47",
      "name": "When chat message received",
      "webhookId": "819ed3fe-b309-4367-b262-da435a159cdf"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -432,
        1904
      ],
      "id": "069349c6-20ec-4cea-8cb9-168381ae02e1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "L8iASsdedZi66OWS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Original query: {{ $('When chat message received').item.json.chatInput }}\n\nQuery parser output: {{ $('Interpret User Intent').item.json.output }}\n\nResult set: {{ JSON.stringify($json.values()) }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "=SystemMessagePromptTemplate",
              "message": "=You are a query-result analyzer for a product review database. You analyze:\n* the initial query\n* the parameters passed to make a query\n* the results\n\nYou should judge\n* if the results are relevant to the question (if no results, don't show output and infer what it means that there aren't results or how you could broaden the search)\n* analyze the results themselves, providing summarization and insight\n* suggestions of what else you can search given the DB schema (be conservative and bias towards summarization tasks given the vector DB has just user reviews and results you analyze are not exhaustive)\n\n\n\nCURRENT DATE AND TIME: {{$now}}\nCurrent timezone: UTC\n\nExtract structured filters from natural language queries. For date/time references:\n- Convert ALL relative time expressions to ISO 8601 timestamps\n- \"last week\" = 7 days ago from current date\n- \"yesterday\" = 1 day ago\n- \"last month\" = 30 days ago\n- \"last quarter\" = 90 days ago\n- \"this year\" = start of current year (January 1st)\n- \"Q1 2024\" = specific quarter boundaries\n- \"since March\" = first day of March current year\n- \"past 2 weeks\" = 14 days ago\n- \"recent\" = 7 days ago (default interpretation)\n\nExample:\n\"Show me negative feedback about login from last week\"\nI found reviews matching your query. Some takeaways are that these posts revolved around the premium feature. Some trends I see are that these users are threatening churn. "
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        512,
        1600
      ],
      "id": "c006382f-86d6-4173-971e-339da482add8",
      "name": "Result Analyzer"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        336,
        1600
      ],
      "id": "6c8d8c1b-2132-4faf-b183-a6d2159001c0",
      "name": "Aggregate"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2192,
        1120
      ],
      "id": "1154395f-53c3-461c-bbbe-5ab581c5be0f",
      "name": "Run Escalation Workflows"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        192,
        832
      ],
      "id": "8e53862b-acb3-4d66-8d2b-c32ee359aae5",
      "name": "Sentiment - OpenAI 4o-mini",
      "credentials": {
        "openAiApi": {
          "id": "L8iASsdedZi66OWS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        192,
        1248
      ],
      "id": "837a91da-5b36-4d6b-b72d-e45eaae70493",
      "name": "Categorization - OpenAI 4o-mini",
      "credentials": {
        "openAiApi": {
          "id": "L8iASsdedZi66OWS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1504,
        1280
      ],
      "id": "41ed2736-8f2d-43d4-a618-75e198a4bff7",
      "name": "OpenAI 4o-latest",
      "credentials": {
        "openAiApi": {
          "id": "L8iASsdedZi66OWS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09K2CMN60Y",
          "mode": "list",
          "cachedResultName": "demo-user-review-escalation"
        },
        "message": "={{ $json.text }}",
        "approvalOptions": {
          "values": {
            "approveLabel": "Escalate More Widely"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1760,
        1136
      ],
      "id": "77f8b4cd-6a1a-4a20-a45d-8d3d024d35ac",
      "name": "Human In The Loop: Escalation Request",
      "webhookId": "de39818b-1656-40c7-bd5c-f77dfb78e383",
      "credentials": {
        "slackApi": {
          "id": "D94F4ijv2JTzQgwd",
          "name": "Solutions Demo Bot"
        }
      }
    },
    {
      "parameters": {
        "content": "# Trigger: Weekly\n## Retrieve app user reviews across target markets",
        "height": 912,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -752,
        496
      ],
      "id": "f27826b6-3003-4cdd-ba3e-1581c22d27ae",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Enrich Reviews\n## Populate with derived sentiment and category signals",
        "height": 912,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        496
      ],
      "id": "7cb05ec0-765d-4343-9a0d-0d4a46efab51",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Vectorize and Store in DB\n## https://supabase.com/dashboard/project/iklddbclgekbxrjiyojv/editor/17959\n",
        "height": 416,
        "width": 1472,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1008,
        496
      ],
      "id": "5e95a5cc-0873-4a7a-9fc9-4a28dddf09a0",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "# Evaluate Escalation Paths\n## \\#demo-user-review-escalation",
        "height": 464,
        "width": 1472,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1008,
        944
      ],
      "id": "2f079755-b0f8-4bc9-83a7-23e1d82e6fca",
      "name": "Sticky Note13"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        1056
      ],
      "id": "7311d55e-f73d-4330-9d71-02254f1359f6",
      "name": "Manual Run"
    },
    {
      "parameters": {
        "content": "# Query\n## Example: \"Find revenue impacting bugs in last 3 months\"",
        "height": 608,
        "width": 1680,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -752,
        1472
      ],
      "id": "997308e2-503a-4c23-b8f9-9b875dea2d2a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# User Feedback Intelligence\n## App User Reviews: Intake -> Analysis -> Escalation\n\n## Catch revenue-impacting bugs, enable sentiment and ad-hoc analysis",
        "height": 192,
        "width": 1680,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -752,
        288
      ],
      "id": "e8c1eae6-3813-4cdb-aacb-ebe2d1a97211",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "21b6956e-2b0b-44a5-bda3-7cb75d7a5ff8",
              "leftValue": "={{ JSON.parse($json.rating) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "99ab532f-c76f-4d69-9bb0-f8a775974d47",
              "leftValue": "={{ (new Date($json.updated).toDateTime() > $now.minus({days: 7})) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1088,
        1136
      ],
      "id": "e41bbe17-28c8-4d22-bf82-fdd8518e9e24",
      "name": "Filter out positive reviews"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -656,
        912
      ],
      "id": "d3c3b05d-9bf5-4db2-8610-52a5f0a3b759",
      "name": "Daily Trigger"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"title\": \"SearchQuery\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"semantic_query\": {\n      \"type\": \"string\",\n      \"description\": \"Core semantic meaning for vector search. Always prioritize explicit filters (sentiment, time, feature, version). Only use if user specifies a topic (e.g. email notifications, sleep, pricing). If query is satisfied by filters alone, set to empty string\"\n    },\n    \"filters\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"must_sentiment\": {\n          \"type\": [\"string\", \"null\"],\n          \"enum\": [\"Very_Positive\", \"Positive\", \"Neutral\", \"Negative\", \"Very_Negative\", null],\n          \"description\": \"Sentiment filter; null if not specified\"\n        },\n        \"version_prefix\": {\n          \"type\": [\"string\", \"null\"],\n          \"pattern\": \"^[0-9]+(\\\\.[0-9]+)*$\",\n          \"description\": \"Version string prefix, e.g., '3.391' if question mentions version 3.391.x\"\n        },\n        \"since\": {\n          \"type\": [\"string\", \"null\"],\n          \"format\": \"date\",\n          \"description\": \"ISO 8601 date (YYYY-MM-DD) if timeframe is mentioned, else null\"\n        },\n        \"min_rating\": {\n          \"type\": [\"integer\", \"null\"],\n          \"minimum\": 1,\n          \"maximum\": 5,\n          \"description\": \"Minimum rating filter, range 1–5; null if not specified\"\n        },\n        \"match_count\": {\n          \"type\": [\"integer\", \"null\"],\n          \"minimum\": 1,\n          \"maximum\": 50,\n          \"description\": \"Number of results to return; set using reasonable judgment based on query\"\n        },\n        \"filter_country_code\": {\n          \"type\": [\"string\", \"null\"],\n          \"description\": \"Country code (lower case) to filter results by (e.g., 'us', 'ca'); null if no filter\"\n        }\n      },\n      \"required\": [\n        \"must_sentiment\",\n        \"version_prefix\",\n        \"required_feature\",\n        \"since\",\n        \"min_rating\",\n        \"match_count\"\n      ],\n      \"additionalProperties\": false\n    }\n  },\n  \"required\": [\"semantic_query\", \"filters\"],\n  \"additionalProperties\": false\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -224,
        1920
      ],
      "id": "ab302ee0-2979-4252-9cb9-cc050c6f87de",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"review_id\": {\n      \"type\": \"string\",\n      \"description\": \"review id of original review object\"\n    },\n    \"sentiment\": {\n      \"type\": \"string\",\n      \"enum\": [\"Very_Positive\", \"Positive\", \"Neutral\", \"Negative\", \"Very_Negative\"],\n      \"description\": \"Overall sentiment classification\"\n    },\n    \"sentiment_score\": {\n      \"type\": \"number\",\n      \"minimum\": -1,\n      \"maximum\": 1,\n      \"description\": \"Normalized sentiment score from -1 (most negative) to 1 (most positive)\"\n    },\n    \"emotional_indicators\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\",\n        \"enum\": [\"frustration\", \"satisfaction\", \"disappointment\", \"delight\", \"confusion\", \"anger\", \"gratitude\", \"indifference\"]\n      },\n      \"maxItems\": 3,\n      \"description\": \"Top emotional signals detected\"\n    },\n    \"loyalty_impact\": {\n      \"type\": \"string\",\n      \"enum\": [\"churn_risk\", \"neutral\", \"loyalty_builder\"],\n      \"description\": \"Predicted impact on customer retention\"\n    },\n    \"actionability\": {\n      \"type\": \"string\",\n      \"enum\": [\"urgent\", \"important\", \"monitor\", \"low\"],\n      \"description\": \"Priority level for product team action\"\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1,\n      \"description\": \"Model confidence in the analysis\"\n    }\n  },\n  \"required\": [\"sentiment\", \"sentiment_score\", \"emotional_indicators\", \"loyalty_impact\", \"actionability\", \"confidence\"],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        352,
        832
      ],
      "id": "e4a78e6f-87f4-45af-bb97-cf8495222553",
      "name": "Structure Sentiment Output"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"review_id\": {\n      \"type\": \"string\",\n      \"description\": \"review id of original review object\"\n    },\n    \"primary_category\": {\n      \"type\": \"string\",\n      \"enum\": [\"feature_request\", \"bug_report\", \"performance_issue\", \"ui_ux_feedback\", \"content_feedback\", \"pricing_billing\", \"comparison\", \"praise\", \"general_feedback\"],\n      \"description\": \"Main category of the review\"\n    },\n    \"specific_features\": {\n      \"type\": \"array\",\n      \"items\": {\"type\": \"string\"},\n      \"maxItems\": 5,\n      \"description\": \"Specific product features or components mentioned\"\n    },\n    \"key_entities\": {\n      \"type\": \"array\",\n      \"items\": {\"type\": \"string\"},\n      \"maxItems\": 4,\n      \"description\": \"Important nouns/entities (features, products, competitors)\"\n    },\n    \"issue_type\": {\n      \"type\": \"string\",\n      \"enum\": [\"regression\", \"missing_feature\", \"broken_feature\", \"design_flaw\", \"performance\", \"not_applicable\"],\n      \"description\": \"Type of issue if applicable\"\n    },\n    \"user_segment\": {\n      \"type\": \"string\",\n      \"enum\": [\"power_user\", \"regular_user\", \"new_user\", \"churned_user\", \"unknown\"],\n      \"description\": \"Inferred user type based on review content\"\n    },\n    \"contains_comparison\": {\n      \"type\": \"boolean\",\n      \"description\": \"Whether review mentions competitors or alternatives\"\n    },\n    \"has_workaround\": {\n      \"type\": \"boolean\",\n      \"description\": \"Whether user mentions finding or needing a workaround\"\n    },\n    \"temporal_context\": {\n      \"type\": \"string\",\n      \"enum\": [\"recent_change\", \"ongoing_issue\", \"past_issue\", \"future_request\", \"not_specified\"],\n      \"description\": \"Time context of the issue or feedback\"\n    }\n  },\n  \"required\": [\"primary_category\", \"specific_features\", \"key_entities\", \"issue_type\", \"user_segment\", \"contains_comparison\", \"has_workaround\", \"temporal_context\"],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        352,
        1248
      ],
      "id": "aa665ca1-18fe-4544-aa9c-bc78e2a3de24",
      "name": "Structure Categorization Output"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "=SystemMessagePromptTemplate",
              "message": "=You are a query parser for a product review database. Convert the user natural query and try to work backwards assuming what you will query is a reviews table vector DB with some basic filters. Extract structured filters and semantic keywords from natural language queries.\n\nCURRENT DATE AND TIME: {{$now}}\nCurrent timezone: UTC\n\nExtract structured filters from natural language queries. For date/time references:\n- Convert ALL relative time expressions to ISO 8601 timestamps\n- \"last week\" = 7 days ago from current date\n- \"yesterday\" = 1 day ago\n- \"last month\" = 30 days ago\n- \"last quarter\" = 90 days ago\n- \"this year\" = start of current year (January 1st)\n- \"Q1 2024\" = specific quarter boundaries\n- \"since March\" = first day of March current year\n- \"past 2 weeks\" = 14 days ago\n- \"recent\" = 7 days ago (default interpretation)\n\nExample:\n\"Show me negative feedback about login from last week\"\n→ {\n  \"semantic_query\": \"login authentication issues problems\",\n  \"filters\": {\n    \"must_sentiment\": \"negative\",\n    \"required_feature\": \"login\",\n    \"since\": \"2024-01-15T00:00:00Z\"\n  }\n}\n\nRules: - Always return a single JSON object. - Do not include explanations, text, or markdown. - If a field is not specified in the question, set it to null."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -384,
        1600
      ],
      "id": "a0548f1b-2269-4b3e-a36d-5f78fff78169",
      "name": "Interpret User Intent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "=text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{ $json.output.semantic_query }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        1600
      ],
      "id": "aeab2d39-ce80-42cb-a92f-eb0dc034f549",
      "name": "Prepare query",
      "credentials": {
        "openAiApi": {
          "id": "L8iASsdedZi66OWS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://iklddbclgekbxrjiyojv.supabase.co/rest/v1/rpc/match_reviews",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query_embedding",
              "value": "={{ JSON.stringify($('Prepare query').item.json.data[0].embedding) }}"
            },
            {
              "name": "match_count",
              "value": "={{ $('Interpret User Intent').item.json.output.filters.match_count ?? null }}"
            },
            {
              "name": "must_sentiment",
              "value": "={{ $('Interpret User Intent').item.json.output.filters.must_sentiment }}"
            },
            {
              "name": "version_prefix",
              "value": "={{ $('Interpret User Intent').item.json.output.filters.version_prefix ?? null }}"
            },
            {
              "name": "required_feature",
              "value": "={{ $('Interpret User Intent').item.json.output.filters.required_feature }}"
            },
            {
              "name": "since",
              "value": "={{ $('Interpret User Intent').item.json.output.filters.since}}"
            },
            {
              "name": "filter_country_code",
              "value": "={{ $('Interpret User Intent').item.json.output.filters.filter_country_code }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        1600
      ],
      "id": "974aa021-4ee6-4998-9f51-d91c68deb25d",
      "name": "Search Against Reviews",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "tsqgnzUSHajXg4tz",
          "name": "Supabase - User Reviews"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c6267fda-d3e9-45af-be2b-759623fe0dc4",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1968,
        1136
      ],
      "id": "aec18bb8-9fa3-4770-981b-06fba93f708f",
      "name": "If analysis should be escalated"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EAARFCFo3jYofdDZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/EAARFCFo3jYofdDZ",
          "cachedResultName": "Customer Demos — RSS App Review Retreival"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -432,
        912
      ],
      "name": "Get App Reviews",
      "id": "3a677eea-93f7-4442-af2f-830cd9792d0e",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=review_id: {{ $json.review_id }}\n{{ $json.content }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "System: You are a highly intelligent sentiment analyzer specialized in product reviews. Analyze the emotional tone and satisfaction level of the provided text. Your analysis should capture nuanced sentiment that product managers can act upon. Only output valid JSON."
            }
          ]
        },
        "batching": {
          "batchSize": 15,
          "delayBetweenBatches": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        192,
        656
      ],
      "id": "865c29f4-47a2-4b2a-932a-712ad0c40d28",
      "name": "Interpret Sentiment",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=review_id: {{ $json.review_id }}\n{{ $json.content }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "System: You are an intelligent review categorizer that identifies key topics, issues, and requests in product reviews. Extract structured information that helps product managers understand what users are discussing. Only output valid JSON.\n\nYou must format your output as a JSON value that adheres to the given \"JSON Schema\" instance."
            }
          ]
        },
        "batching": {
          "batchSize": 15
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        192,
        1056
      ],
      "id": "7109ac52-3fcb-42f9-9649-f9e3b2cf7fca",
      "name": "Categorize",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Input: an array of review JSON objects .\n// Output: an array of items, each with a body ready for the OpenAI embeddings call.\n\nreturn items.map(item => {\n  const review = item.json;\n  const o = review.output || {};\n\n  // Build a \"combined\" text string rich with metadata\n  const combined = [\n    `Title: ${review.title ?? ''}`,\n    `Content: ${review.content ?? ''}`,\n    `Sentiment: ${o.sentiment ?? ''} (${o.sentiment_score ?? ''})`,\n    `Category: ${o.primary_category ?? ''} | Issue: ${o.issue_type ?? ''}`,\n    `Loyalty impact: ${o.loyalty_impact ?? ''} | Actionability: ${o.actionability ?? ''}`,\n    `Features: ${(o.specific_features || []).join(', ')}`,\n    `Entities: ${(o.key_entities || []).join(', ')}`,\n    `Version: ${review.version ?? ''} | Updated: ${review.updated ?? ''}`,\n    `Context: ${o.temporal_context ?? ''}${o.has_workaround ? ' | Has workaround' : ''}`\n  ].join('\\n');\n\n  return {\n    json: {\n      // This is what the OpenAI embeddings API expects\n      model: \"text-embedding-3-small\",\n      input: combined,\n\n      // Keep original fields so you can re-attach later\n      review_id: review.review_id,\n      original: review\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        672
      ],
      "id": "715fe66a-1c26-4314-8f5f-2581704e516f",
      "name": "Prepare Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $json.model }}"
            },
            {
              "name": "input",
              "value": "={{ $json.input }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        672
      ],
      "id": "712d792d-8b83-4659-be5c-ff6d2ea87221",
      "name": "Create embeddings",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 2,
      "credentials": {
        "openAiApi": {
          "id": "L8iASsdedZi66OWS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1280,
        1136
      ],
      "id": "ea296c27-7d2c-4a19-821d-96c6715a9397",
      "name": "Consolidate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.values() }}",
        "messages": {
          "messageValues": [
            {
              "message": "Analyze posts that are below a rating of 3.\n\nShare the count passed to you. Determine themes, extreme emotions or threats to business. Summarize and provide references and or snippets to these reviews. Keep short and structured so that it's formatted for a slack message.\n\nInformation provided should be context for whether a human in the loop should escalate to another Slack channel. Output will be used as text to send to Slack so format appropriately.\n\n\n\nSlack Formatting Guide:\n\nTo format messages in Slack, use the following “Slack formatting” conventions. These instructions are tailored specifically for enhancing readability and organization within Slack’s desktop and mobile applications:\n\nBold Text: To make text bold, enclose it with asterisks (*). Example: *text* becomes bold.\n\nItalic Text: To italicize text, enclose it with underscores (_). Example: _text_ becomes italic.\n\nStrikethrough Text: To apply a strikethrough effect, enclose text with tildes (~). Example: ~text~ becomes strikethrough.\n\nInline Code: For inline code formatting, enclose text with backticks (```). Example: text becomes code.\n\nBlockquote: To format text as a blockquote, start it with an angled bracket (>). Example: >text.\n\nCode Block: To create a code block, enclose text with triple backticks (`````).\n\nOrdered List: For an ordered list, start each item with a number followed by a period. Example: 1. text.\n\nBulleted List: For a bulleted list, start each item with an asterisk and a space. Example: * text.\n\nThese Slack-specific formatting commands enhance your messaging by adding visual distinctions to your text, making your Slack communications more effective and engaging."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1456,
        1136
      ],
      "id": "0624f047-420d-4a6b-9d08-0d7b259680c1",
      "name": "Evaluate Reviews"
    }
  ],
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Prepare Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter out positive reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Upsert (non-embeddings)": {
      "main": [
        [
          {
            "node": "Prepare Upsert (including embeddings)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Upsert (including embeddings)": {
      "main": [
        [
          {
            "node": "Upsert to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Interpret User Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Interpret User Intent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Result Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Result Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment - OpenAI 4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Interpret Sentiment",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Categorization - OpenAI 4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Categorize",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI 4o-latest": {
      "ai_languageModel": [
        [
          {
            "node": "Evaluate Reviews",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Human In The Loop: Escalation Request": {
      "main": [
        [
          {
            "node": "If analysis should be escalated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Run": {
      "main": [
        [
          {
            "node": "Get App Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter out positive reviews": {
      "main": [
        [
          {
            "node": "Consolidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Get App Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Interpret User Intent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structure Sentiment Output": {
      "ai_outputParser": [
        [
          {
            "node": "Interpret Sentiment",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structure Categorization Output": {
      "ai_outputParser": [
        [
          {
            "node": "Categorize",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Interpret User Intent": {
      "main": [
        [
          {
            "node": "Prepare query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare query": {
      "main": [
        [
          {
            "node": "Search Against Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Against Reviews": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If analysis should be escalated": {
      "main": [
        [
          {
            "node": "Run Escalation Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get App Reviews": {
      "main": [
        [
          {
            "node": "Interpret Sentiment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Categorize",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Interpret Sentiment": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorize": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Prepare Fields": {
      "main": [
        [
          {
            "node": "Create embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create embeddings": {
      "main": [
        [
          {
            "node": "Prepare Upsert (non-embeddings)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate": {
      "main": [
        [
          {
            "node": "Evaluate Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Reviews": {
      "main": [
        [
          {
            "node": "Human In The Loop: Escalation Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 30
  },
  "triggerCount": 2,
  "versionId": "49ec0326-e066-4850-9928-1f188492a09d",
  "owner": {
    "type": "team",
    "teamId": "q4JiagnkOizWEqn0",
    "teamName": "Customer Demos"
  },
  "parentFolderId": "fsSFB4w9eVjTS07F",
  "isArchived": false
}