workflows/NHMUabvJjxPWDVtM.json
{
  "id": "NHMUabvJjxPWDVtM",
  "name": "Email Triage",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "99c37cc1-5ee8-44d6-8fcc-552bae0c7efd",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.1,
      "position": [
        -1648,
        -112
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "TdGDmPXFwBcW4Tlo",
          "name": "amrita gmail"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8caffca9-9efd-43ee-ab52-035aca2be473",
              "leftValue": "=Support Case Open",
              "rightValue": "Support Case Open",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "79a576bf-4bf3-455a-bdd2-2bb54a8a02d0",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1328,
        -112
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## Inbound Communication\n**Capturing Incoming Customer Interactions**",
        "height": 503.27628361858206,
        "width": 216.16136919315392
      },
      "id": "07949ea8-e8fb-43e9-a85c-5510f504586d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1696,
        -272
      ]
    },
    {
      "parameters": {
        "content": "## Email Segmentation\n**Filtering and Categorizing Requests**",
        "height": 504.8655256723715,
        "width": 408.45965770171165,
        "color": 2
      },
      "id": "91ca4945-cc43-4d12-b1a7-73c5111ec723",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1424,
        -272
      ]
    },
    {
      "parameters": {
        "content": "## AI-Driven Classification\n**Classifiying Email Context**",
        "height": 503.2762836185823,
        "width": 408.45965770171165,
        "color": 3
      },
      "id": "229e464c-e05f-45df-b2e0-a545d4fc1383",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -960,
        -272
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b651c8e3-4540-4a9e-9af4-d370b73d7fb2",
              "name": "message",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "9cd1bca6-dff4-47f2-9b6a-31907dbce8d1",
              "name": "customer_email",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1184,
        -112
      ],
      "id": "186a01f8-7a53-43d4-a0b1-3404844c99d4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Specify if that text is related to billing or technical, and as an output write only one word, it has to be either \"Billing\", \"Marketing\", \"Engineering\", do not invent labels and fallback into \"Marketing\" if cannot be determined. "
        }
      },
      "id": "05b6d4d2-5be8-4c59-8671-8b024f61dc5d",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -848,
        -112
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"output\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -640,
        96
      ],
      "id": "9d057a68-4d6d-4465-83d7-d2d28def298e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "aba9c114-a2a8-4f90-9425-437350cba8c5",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -928,
        96
      ],
      "credentials": {
        "openAiApi": {
          "id": "mWGHuFv8gDME8jP6",
          "name": "OpenAi account - Marcus"
        }
      }
    },
    {
      "parameters": {
        "content": "## Operational Routing\n**Directing Emails to Relevant Teams**",
        "height": 928,
        "width": 1210,
        "color": 4
      },
      "id": "6ade2af4-b7f8-4e65-984e-08aac5c90a3e",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1136,
        -688
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('AI Agent').item.json.output }}",
                    "rightValue": "Billing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a063c91b-c91e-413b-866f-112a47c8a058"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "40a57df1-b8b3-463b-b873-b266b56aaea2",
                    "leftValue": "={{ $('AI Agent').item.json.output }}",
                    "rightValue": "Marketing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "816fc90a-aef7-4887-8bbf-d736889f1daa",
                    "leftValue": "={{ $('AI Agent').item.json.output }}",
                    "rightValue": "Engineering",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "c9bac46c-5fe3-48a6-aa73-22e7e4c5c155",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1728,
        -416
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(\n  (SELECT has_support\n   FROM public.support_users\n   WHERE email = '{{$(\"Edit Fields\").item.json.customer_email}}'\n   LIMIT 1),\n  false\n) AS has_support;\n",
        "options": {
          "queryReplacement": "=email = {{$('Edit Fields').item.json.customer_email}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        544,
        240
      ],
      "id": "4d06f846-b30b-42ce-b93f-4f8dad4a1edd",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "u4cjE2sCRxDdFLKl",
          "name": "Amrita Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "851686a8-a309-4c68-98da-9c9c40d60dbd",
              "leftValue": "={{ $json.has_support }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        -128
      ],
      "id": "0c2f24e8-28a0-4625-b3ad-8d97d30c6f73",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "🧡 Welcome from n8n — pick a support plan + community options",
        "includeHtml": true,
        "htmlMessage": "=<div style=\"font-family: Inter, Segoe UI, Roboto, Arial, sans-serif; color:#111827; line-height:1.6; max-width:640px; margin:0 auto; padding:20px;\">\n  <h2 style=\"margin:0 0 10px; font-size:20px;\">Hi {{ $json.first_name || 'there' }} 👋</h2>\n  <p style=\"margin:0 0 16px;\">\n    Thanks for reaching out! It looks like your account isn’t on a support plan yet. Here are simple options:\n  </p>\n\n  <div style=\"border:1px solid #e5e7eb; border-radius:10px; padding:14px; margin:10px 0;\">\n    <ul style=\"margin:0; padding-left:18px;\">\n      <li><strong>Essentials</strong> — Email support, business hours, next-business-day response</li>\n      <li><strong>Pro</strong> — Email + Slack, priority queue, <strong>4-hour</strong> first response</li>\n      <li><strong>Enterprise</strong> — <strong>24×7</strong> critical coverage, <strong>1-hour</strong> SLA, named TAM</li>\n    </ul>\n  </div>\n\n  <p style=\"margin:14px 0;\">\n    <a href=\"{{ $json.checkout_url || 'https://n8n.io/pricing' }}\"\n       style=\"background:#2563eb; color:#fff; text-decoration:none; padding:10px 16px; border-radius:8px; font-weight:600; display:inline-block;\">\n      View plans &amp; purchase\n    </a>\n  </p>\n\n  <p style=\"margin:14px 0 6px;\"><strong>Prefer an invoice?</strong> Reply with:</p>\n  <ul style=\"margin:0 0 12px 18px; padding:0;\">\n    <li>Company name + billing email</li>\n    <li>Package (Essentials / Pro / Enterprise)</li>\n    <li>Country + VAT/Tax ID (if any)</li>\n  </ul>\n\n  <div style=\"border:1px dashed #e5e7eb; border-radius:10px; padding:12px; margin:12px 0;\">\n    <p style=\"margin:0 0 6px;\">\n      Have a quick question? Post in our Community forum (monitored by our team &amp; power users):\n      <a href=\"{{ $json.community_url || 'https://community.n8n.io' }}\">community.n8n.io</a>\n    </p>\n    <p style=\"margin:0; color:#6b7280; font-size:12px;\">Please don’t include secrets, tokens, or payment details.</p>\n  </div>\n\n  <p style=\"margin:10px 0 0;\">\n    Prefer to talk it through? <a href=\"{{ $json.book_link || 'https://n8n.io/contact' }}\">Book a 15-min call</a>.\n  </p>\n\n  <p style=\"margin:6px 0 0;\">— n8n Support</p>\n</div>\n",
        "message": "=",
        "toList": [
          "=amrita.gupta@n8n.io",
          []
        ],
        "additionalFields": {}
      },
      "name": "Non-support customer",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        1600,
        -112
      ],
      "id": "9a24afc1-d9af-4346-8790-dc11516f221e",
      "credentials": {
        "gmailOAuth2": {
          "id": "TdGDmPXFwBcW4Tlo",
          "name": "amrita gmail"
        }
      }
    },
    {
      "parameters": {
        "content": "## Paid Customers Database Lookup\n\n**Determining if the customer paid for support**",
        "height": 519,
        "width": 408,
        "color": 6
      },
      "id": "201db8f1-e3a5-4923-b7c9-aa7e2bf437a4",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        16
      ]
    },
    {
      "parameters": {
        "content": "## Human In the Loop \nApproval for low confidence",
        "height": 519,
        "width": 408,
        "color": 6
      },
      "id": "06071c20-9adf-476e-8fb5-40f79c76db02",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        384,
        -608
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "sendAndWait",
        "user": {
          "__rl": true,
          "value": "U099BUZ4QAH",
          "mode": "list",
          "cachedResultName": "amrita.gupta"
        },
        "message": "=*:warning: Needs human review (low confidence)*\n\n• *Proposed category:* {{$json.route || 'unclassified'}}\n• *Confidence:* {{$json.confidence}}\n• *From:* {{$json.customer_email}}\n• *Subject:* {{$json.subject}}\n• *Summary:* {{$json.summary || $truncate($json.message, 140)}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        544,
        -384
      ],
      "id": "36633bc4-845c-4346-9312-38bcef770491",
      "name": "Send a message",
      "webhookId": "6ee46aad-9d95-4285-b7dd-8989480eaef5",
      "credentials": {
        "slackOAuth2Api": {
          "id": "Hq8UbQhaZGgPfp5e",
          "name": "Slack account 6"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d55f9ed-5180-4007-8b1f-2ca3d3c5866f",
              "leftValue": "={{ $json.output.confidence }}",
              "rightValue": 0.7,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        -112
      ],
      "id": "21338beb-2ea1-4690-ac19-8848b80f2390",
      "name": "Low confidence?"
    },
    {
      "parameters": {
        "content": "## Automatically classifies incoming emails into Billing, Marketing, or Engineering ",
        "height": 80,
        "width": 960,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1328,
        -432
      ],
      "typeVersion": 1,
      "id": "d71d3b6b-92e0-4636-af77-f2357057f69b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "description": "Call this tool to get the confidence score of the output received from the previous AI agent. This will then determine if a human verification to continue the flow or not is needed. ",
        "workflowId": {
          "__rl": true,
          "value": "J3jpG50V7WdgurD6",
          "mode": "list",
          "cachedResultUrl": "/workflow/J3jpG50V7WdgurD6",
          "cachedResultName": "Customer Demos — Confidence Modular Subworkflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "output": "={{ $fromAI(\"output\") }}",
            "customer_email": "={{ $('Edit Fields').item.json.customer_email }}",
            "headers_subject": "={{ $('Filter').item.json.headers.subject }}",
            "message": "={{ $('Edit Fields').item.json.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "headers_subject",
              "displayName": "headers_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -784,
        96
      ],
      "id": "a99c450a-a495-482e-a321-9b7a31675f12",
      "name": "Call 'Confidence Modular Subworkflow'1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kW1ItqG99Jumf9JV",
          "mode": "list",
          "cachedResultUrl": "/workflow/kW1ItqG99Jumf9JV",
          "cachedResultName": "Customer Demos — Notify Engineering (Jira + Slack + Pagerduty)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2016,
        -192
      ],
      "id": "f5aab15a-1f84-4e4c-9eb4-3cacbe30dae9",
      "name": "Notify Engineering",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2o6xIue1CaZeY0kc",
          "mode": "list",
          "cachedResultUrl": "/workflow/2o6xIue1CaZeY0kc",
          "cachedResultName": "Customer Demos — Notify Marketing"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2016,
        -400
      ],
      "id": "dc6afd44-4d7c-4a99-85a7-c0bac4e6ec7e",
      "name": "Notify Marketing"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Zbu4oyjlmolRJXSF",
          "mode": "list",
          "cachedResultUrl": "/workflow/Zbu4oyjlmolRJXSF",
          "cachedResultName": "Customer Demos — Fragment - Finance Inputs (from Gmail)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2016,
        -592
      ],
      "id": "a06b546c-8a5c-40a6-87ba-f891e96855b0",
      "name": "Notify Finance"
    },
    {
      "parameters": {
        "content": "## AI-Agent Confident answer or needs Human Approval?\n**Determining Confidence score**",
        "height": 503.2762836185823,
        "width": 408.45965770171165,
        "color": 3
      },
      "id": "5b2fb709-98dd-4edd-ae43-55c0720f6de6",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        -272
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.message }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a concise helpdesk summarizer.\nReturn a one-sentence summary (max 25 words), detect language (BCP-47 code), and give confidence 0–1 for how certain the upstream classification is correct.\nWhen in doubt, lower confidence.\n\nRules:\n- Do not add pleasantries.\n- No line breaks in the summary.\n- Confidence is a decimal between 0 and 1.\n\nOutput fields:\n- summary: string\n- language: string (e.g. \"en\", \"ar\", \"de\")\n- confidence: number (0–1)\n"
        }
      },
      "id": "2f54757b-0569-43ce-9fc1-fc277c295f99",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -368,
        -112
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"summary\": { \"type\": \"string\" },\n    \"language\": { \"type\": \"string\" },\n    \"confidence\": { \"type\": \"number\" }\n  },\n  \"required\": [\"summary\", \"language\", \"confidence\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -176,
        80
      ],
      "id": "d1d6384b-0c83-4b45-b88a-4e20b576ed8e",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a5337f46-b488-492e-b468-12b096f2800d",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -384,
        96
      ],
      "credentials": {
        "openAiApi": {
          "id": "mWGHuFv8gDME8jP6",
          "name": "OpenAi account - Marcus"
        }
      }
    },
    {
      "parameters": {
        "path": "bd96e33c-108b-4a07-b46e-0e34c46933aa",
        "authentication": "jwtAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        -512
      ],
      "id": "1d3dbaee-b196-4f93-b780-8025e77f9342",
      "name": "Webhook",
      "webhookId": "bd96e33c-108b-4a07-b46e-0e34c46933aa",
      "credentials": {
        "jwtAuth": {
          "id": "W8sF5qwCg5YtaqVg",
          "name": "JWT Auth account 4"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Notify Finance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Marketing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Engineering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Non-support customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Non-support customer": {
      "main": [
        []
      ]
    },
    "Low confidence?": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Confidence Modular Subworkflow'1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Low confidence?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "triggerCount": 2,
  "versionId": "1bbafe2b-fb9c-4d6d-a6c3-8dc46eaaa161",
  "owner": {
    "type": "team",
    "teamId": "q4JiagnkOizWEqn0",
    "teamName": "Customer Demos"
  },
  "parentFolderId": "IpkIpdCyn6eIALlo",
  "isArchived": false
}